<section>
    <ul class="social">
        <li>
            <a href="sms:628123074205">
                <amp-img src="assets/img/speech-bubble.svg" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
        </li>
        <li>
            <a href="tel:628123074205">
                <amp-img src="assets/img/telephone-line-24-hours-service.svg" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
        </li>
        <li>
            <a href="https://goo.gl/CPpywi">
                <amp-img src="assets/img/whatsapp.svg" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
        </li>
    </ul>
    <ul class="contact">
        <li>
            <h3>Alamat</h3>
            <p><a href="/">Jl. Raya Jarakan No. 1, Jarakan
                <br /> Gondang, Kabupaten
                <br /> Tulungagung, Jawa Timur</a>
            </p>
        </li>
        <li>
            <h3>Telepon</h3>
            <p><a href="tel:628123074205">08123 074 205</a></p>
        </li>
        <li>
            <h3>SMS</h3>
            <p><a href="sms:628123074205">08123 074 205</a></p>
        </li>
    </ul>
</section>