<nav>
    <ul>
        <li>&#9776;
            <ul>
                <li><a href="/"><amp-img src="{{ site.image-logo-2 }}" layout="fixed" height="118" width="201"></amp-img></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/jasa">Jasa</a></li>
                <li><a href="/portofolio">Portofolio</a></li>
                <li><a href="/info">Info</a></li>
                <li><a href="/hubungi-kami">Hubungi Kami</a></li>
                <li>
                    <ul class="social">
                        <li>
                            <a href="sms:628123074205">
                                <amp-img src="assets/img/speech-bubble.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                            </a>
                        </li>
                        <li>
                            <a href="tel:628123074205">
                                <amp-img src="assets/img/telephone-line-24-hours-service.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                            </a>
                        </li>
                        <li>
                            <a href="https://goo.gl/CPpywi">
                                <amp-img src="assets/img/whatsapp.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div id="closemenu">&#215;</div>
</nav>