<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta content="IE=Edge" http-equiv="X-UA-Compatible">
<meta name="amp-experiments-opt-in" content="visibility-v2,visibility-v3">
<meta name="keywords" lang="id" content="{{ site.keywords }}">
<!-- This site is optimized with the Yoast SEO plugin v3.6.1 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="{{ site.description }}"/>
<!-- You can use Open Graph tags to customize link previews.Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<meta property="fb:app_id" content="{{ site.fb_app_id }}" />
<meta property="og:locale" content="id_ID" />
<meta property="og:url" content="{{ site.siteurl }}/index.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ site.judul }} - {{ site.name }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:image" content="{{ site.siteurl }}/{{ site.image-logo-2 }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twittersite }}">
<meta name="twitter:creator" content="@dennyrwa">
<meta name="twitter:title" content="{{ site.judul }} - {{ site.name }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.siteurl }}/{{ site.image-logo-1 }}">
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"GeneralContractor","@id":"#GeneralContractor","url":"https:\/\/aslantawijaya.com\/","name":"Jasa Lapangan Tenis","potentialAction":{"@type":"SearchAction","target":"https:\/\/aslantawijaya.com\/?s={search_term_string}","query-input":"required name=search_term_string"},"image":"https://aslantawijaya.com/assets/picture/portofolio-lapangan-tenis-1.jpg","address":{"streetAddress":"Jl. Raya Jarakan No. 1","name": "Dsn. Bakalan RT 004 RW 002 Jarakan Gondang Tulungagung Jawa Timur","postalCode": "66263"},"telephone":"+628123074205","priceRange":"1.000.000"}</script>
<!-- / Yoast SEO plugin. -->